@import 'theme/media';
@import 'theme/variables';
@import 'theme/mixins';

.SearchResultItem {
  display: flex;
  font-size: 14px;
  padding: 1.25em 1.75em;

  @include breakpoint($sm) {
    font-size: 17px;
  }
}

.SearchResultItem__info {
  flex: 1;
}

.SearchResultItem__imageContainer {
  margin: 0;
  padding: 0;
  margin-right: 1.75em;
  width: 72px;
  height: 72px;
  flex-shrink: 0;

  img {
    display: block;
    width: 100%;
  }

  @include breakpoint($sm) {
    width: 90px;
    height: 90px;
  }
}

.SearchResultItem__title {
  margin: 0;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4em;

  a {
    @include reset-anchor;
    @include active-hover;
  }
}

.SearchResultItem__addressSM,
.SearchResultItem__addressXS {
  color: #666;
  font-weight: 300;
}

.SearchResultItem__addressXS {
  margin-top: 0.5em;
  font-size: 0.9em;
}

.SearchResultItem__addressSM {
  display: none;
  font-size: 0.8em;
  margin-left: 40px;
}

@include breakpoint($sm) {
  .SearchResultItem__addressXS {
    display: none;
  }

  .SearchResultItem__addressSM {
    display: block;
  }
}

.SearchResultItem__priceRow {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.SearchResultItem__price {
  font-size: 1.4em;
}

.SearchResultItem__freeShipping {
  margin-left: 0.75em;
}
