@import 'theme/media';
@import 'theme/variables';

.SearchResultItem {
  display: flex;
  font-size: 14px;
  padding: 1.25em 1.75em;

  @include breakpoint($sm) {
    font-size: 17px;
  }
}

.SearchResultItem__imageContainer {
  margin-right: 32px;
  width: 90px;
  height: 90px;
  flex-shrink: 0;

  img {
    display: block;
    width: 100%;
  }
}

.SearchResultItem__title {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 0.5em;
}

.SearchResultItem__originalPrice,
.SearchResultItem__price {
  display: block;
}

.SearchResultItem__originalPrice {
  margin-bottom: 0.2em;
  font-size: 13px;
  color: #999;
  text-decoration-line: line-through;
}

.SearchResultItem__price {
  font-size: 1.4em;
}
