{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathSuffix": "./src",
            "rootPathPrefix": "~/"
          },
          {
            "rootPathSuffix": "./api",
            "rootPathPrefix": "api/"
          },
          {
            "rootPathSuffix": "./__tests__",
            "rootPathPrefix": "__tests__/"
          }
        ]
      }
    ]
  ]
}
