@import 'theme/mixins';
@import 'theme/media';

.Breadcrumb {
  font-size: 13px;
  margin: 16px;

  > ol {
    @include reset-list;

    > li {
      color: #666;
      display: inline-block;
      margin-right: 8px;
      vertical-align: middle;
    }

    > li:nth-child(even) {
      font-size: 1.5em;
    }

    > li:last-child {
      margin-right: 0;
    }
  }

  @include breakpoint($sm) {
    margin: 0 0 16px;
  }
}
