@import 'theme/media';
@import 'theme/variables';

.PageContent {
  margin: 0 auto;
  max-width: $content-max-width + $content-spacing * 2;

  @include breakpoint($sm) {
    padding: $content-spacing;
  }
}

.PageContent__body {
  background-color: #fff;

  @include breakpoint($sm) {
    border-radius: 4px;
    box-shadow: 0 0 48px rgba(#000, 0.025);
  }
}
