@import 'theme/media';

.PageMessage {
  padding: 24px;

  h4 {
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 16px;
  }

  p,
  h4,
  ul {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    padding-left: 20px;
  }

  @include breakpoint($sm) {
    padding: 24px 32px;
  }
}
