@import 'theme/media';
@import 'theme/variables';

.AppHeader {
  background-color: #fff159;
  border-bottom: darken(#fff159, 20%) 1px solid;
  position: relative;

  @include breakpoint($sm) {
    padding: 0 $content-spacing;
  }
}

.AppHeader__body {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: $content-max-width;

  @include breakpoint($sm) {
    padding-right: 0;
    padding-left: 0;
  }
}

.AppHeader__logo {
  flex-shrink: 0;
  margin-right: 16px;
}

.AppHeader__SearchForm {
  flex: 1;
}
